<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<title>Test Suite - Compute</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/vendors/bootstrap.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1 class="col-md-12">AJAX - Simple Call (jQuery)</h1>
			</div>
			<div class="row">
				<form role="form" name="ajax-test" id="ajax_test" method="POST" action="compute/add">
					<div class="col-md-6">
						<div class="form-group">
							<label for="nameSimpleAjax" class="sr-only">Name</label>
							<input type="text" name="name" id="nameSimpleAjax" value="" placeholder="Bitte einen Namen eigeben"  class="form-control" />
						</div>
					</div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-default">Abschicken</button>
					</div>
				</form>
			</div>

			<div class="row">
				<div class="col-md-6">
					<ul id="data_list">
						<% branch_data.forEach(function(item) { %>
						<li><%= item.name %></li>
						<% }) %>
					</ul>
				</div>
			</div>
		</div>
		<script src="js/vendors/jquery-2.0.3.js"></script>
		<script type="text/javascript">
			$('#ajax_test').on('submit', function(event) {
				event.preventDefault();
				var form = $(this);
				$.ajax({
					url: form.attr('action'),
					type: form.attr('method'),
					data: form.find('input').serialize(),
					success: function(data) {
						form.find('input').val('').focus();
						$("#data_list").append('<li>' + data.data.name + '</li>')
					}
				});
			});
		</script>
	</body>
</html>